### Generated folders
out
target
classes

### Eclipse files
.classpath
.settings
.project
.tern-project

### Intellij IDEA files
.idea
*.iml

### Style sheets pre-processors files
*.scss
# *.css
# *.css.map
!*.min.css
!*.min.css.map

### JavaScript spre-processors files
# *.js
!*.min.js
