<?xml version="1.0" encoding="UTF-8"?>
<!--***********************************************************************************************
  * Copyright (c) 2018 Youcef DEBBAH (youcef-debbah@hotmail.com)                                  *
  *                                                                                               *
  * Permission is hereby granted, free of charge, to any person obtaining a copy of this software *
  * and associated documentation files (the Software) to deal in the Software without restriction *
  * but under the following conditions:                                                           *
  *                                                                                               *
  * - This notice shall be included in all copies and portions of the Software.                   *
  * - The software is provided "AS IS", WITHOUT WARRANTY OF ANY KIND (Implicit or Explicit).      *
  *                                                                                               *
  ***********************************************************************************************-->

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>lending.xhtml</welcome-file>
    </welcome-file-list>

</web-app>